@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Raleway", sans-serif !important;
}
@layer base {
  body {
    @apply bg-white dark:bg-blue-950;
  }

  .colored-btn {
    @apply bg-[#006fee] !px-5 !py-3 rounded-2xl text-white font-semibold cursor-pointer hover:opacity-80 transition-all duration-300 flex justify-center gap-2 items-center;
  }
  .shadow-btn {
    @apply text-[#006fee] !px-5 !py-3 rounded-2xl bg-[#006fee]/20    font-semibold cursor-pointer hover:opacity-80 transition-all duration-300 flex justify-center gap-2 items-center;
  }
  .gradient-text {
    @apply bg-gradient-to-r from-[#006fee] to-[#6020A0] text-transparent bg-clip-text;
  }
  .input-style {
    @apply w-full px-3 py-3 rounded-lg border border-gray-300 !mt-2 focus:outline-none focus:border-[#6020A0];
  }
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

button:active {
  scale: 0.95;
}
